html{
	height:100%;
}

body{
	height:100%;
	position: relative;
	overflow: hidden;
	background-image: url("../img/hillary.jpg");
	background-repeat: no-repeat;
	background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
}

h1{
	font-family: jubilat;
	letter-spacing: 6px;
	font-size: 5em;
}

.background-image{
  position:absolute;
}
p,ul,li,h1,h2,h3 { 
color:#fff;}

.flip-clock-divider .flip-clock-label {
	color: #ffffff;

}

